openapi: 3.2.0
info:
  title: Artsy Public Images API
  termsOfService: https://developers.artsy.net/terms
  contact:
    name: Artsy API Developers
    email: artsy-api-developers@googlegroups.com
    url: https://developers.artsy.net
  version: v2
  description: Operations about images
servers:
- url: https://api.artsy.net
tags:
- name: Images
  description: Operations about images
paths:
  /api/images:
    get:
      description: Retrieve a collection of images.
      parameters:
      - in: query
        name: show_id
        description: Return images for a given show.
        required: true
        schema:
          type: string
      - in: query
        name: offset
        description: Offset from which to retrieve.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        description: Number of items to retrieve for this page or from the current offset.
        required: false
        schema:
          type: string
      - in: query
        name: cursor
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - in: query
        name: sample
        description: If present and collection supports sampling, will redirect to a random single object.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Retrieve a collection of images.
      tags:
      - Images
      operationId: getApiImages
      summary: Get api images
      x-summary-source: derived
  /api/images/{id}:
    get:
      description: Retrieve an image by id.
      parameters:
      - in: path
        name: id
        description: Image id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve an image by id.
      tags:
      - Images
      operationId: getApiImagesId
      summary: Get api images id
      x-summary-source: derived
