openapi: 3.2.0
info:
  title: Artsy Public Applications API
  termsOfService: https://developers.artsy.net/terms
  contact:
    name: Artsy API Developers
    email: artsy-api-developers@googlegroups.com
    url: https://developers.artsy.net
  version: v2
  description: Operations about applications
servers:
- url: https://api.artsy.net
tags:
- name: Applications
  description: Operations about applications
paths:
  /api/applications:
    get:
      description: Retrieve a collection of applications.
      parameters:
      - in: query
        name: offset
        description: Offset from which to retrieve.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        description: Number of items to retrieve for this page or from the current offset.
        required: false
        schema:
          type: string
      - in: query
        name: cursor
        description: Cursor for pagination.
        required: false
        schema:
          type: string
      - in: query
        name: user_id
        description: User id.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Retrieve a collection of applications.
      tags:
      - Applications
      operationId: getApiApplications
      summary: Get api applications
      x-summary-source: derived
    post:
      description: Create an application.
      responses:
        '201':
          description: Create an application.
      tags:
      - Applications
      operationId: postApiApplications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiApplications'
        required: true
      summary: Post api applications
      x-summary-source: derived
  /api/applications/{id}:
    get:
      description: Retrieve an application by id.
      parameters:
      - in: path
        name: id
        description: Application id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve an application by id.
      tags:
      - Applications
      operationId: getApiApplicationsId
      summary: Get api applications id
      x-summary-source: derived
    put:
      description: Update an application.
      parameters:
      - in: path
        name: id
        description: Application id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Update an application.
      tags:
      - Applications
      operationId: putApiApplicationsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiApplicationsId'
        required: true
      summary: Put api applications id
      x-summary-source: derived
    delete:
      description: Delete an application.
      parameters:
      - in: path
        name: id
        description: Application id.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete an application.
      tags:
      - Applications
      operationId: deleteApiApplicationsId
      summary: Delete api applications id
      x-summary-source: derived
components:
  schemas:
    postApiApplications:
      type: object
      properties:
        name:
          type: string
          description: Application name.
      required:
      - name
      description: Create an application.
    putApiApplicationsId:
      type: object
      properties:
        name:
          type: string
          description: Application name.
      description: Update an application.
