openapi: 3.2.0
info:
  title: Artsy Public Search API
  termsOfService: https://developers.artsy.net/terms
  contact:
    name: Artsy API Developers
    email: artsy-api-developers@googlegroups.com
    url: https://developers.artsy.net
  version: v2
  description: Operations about searches
servers:
- url: https://api.artsy.net
tags:
- name: Search
  description: Operations about searches
paths:
  /api/search:
    get:
      description: Search for anything.
      parameters:
      - in: query
        name: q
        description: Query to search for.
        required: true
        schema:
          type: string
      - in: query
        name: offset
        description: Offset from which to retrieve.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: size
        description: Number of items to return, between 1-10.
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          default: 10
      - in: query
        name: type
        description: Which types (ES indexes) to search.
        required: false
        schema:
          type: array
          items:
            type: string
            default:
            - article
            - artist
            - artwork
            - city
            - fair
            - feature
            - gene
            - show
            - profile
            - sale
            - tag
            - page
            - collection
            - artist-series
            - video
            - viewing-room
      responses:
        '200':
          description: Search for anything.
      tags:
      - Search
      operationId: getApiSearch
      summary: Get api search
      x-summary-source: derived
